*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
.idea
*.iml
out
gen
node_modules
venv
.lets
.config
.jupyter
.local
.npm
.cache
.ipynb_checkpoints
.ipython
.env
.twinkle
__pycache__
notebooks/training.csv
notebooks/testing.csv
notebooks/model.txt
notebooks/training.conf
notebooks/testing.conf
notebooks/outdated.txt
