<ul>
    {% for flat in flats %}
    <li>
        <h3>
            [<a target="_blank" href="{{ flat.url }}">{{ flat.id }}</a>]&nbsp;&nbsp;&nbsp;
            <a target="_blank" href="https://www.openstreetmap.org/#map=18/{{ flat.latitude }}/{{ flat.longitude }}">
                {{ flat.address }}
            </a>
        </h3>
        <b>Price:</b>
        {{ flat.price }} $
        <br/>
        <b>Housing:</b>
        {{ flat.housing }}
        <br/>
        <b>Total / Living / Kitchen area:</b>
        {{ flat.total_area }} / {{ flat.living_area }} / {{ flat.kitchen_area }} ㎡
        <br/>
        <b>Room number:</b>
        {{ flat.room_number }}
        <br/>
        <b>Floor / Total floor:</b>
        {{ flat.floor }} / {{ flat.total_floor }}
        <br/>
        <b>SSF / IZF / GZF:</b>
        {{ flat.ssf }} / {{ flat.izf }} / {{ flat.gzf }}
        <br/>
        <b>Abandoned image count:</b>
        {{ flat.abandoned_count }}
        <br/>
        <b>Luxury / Comfort / Junk / Construction / Excess image count:</b>
        {{ flat.luxury_count }} / {{ flat.comfort_count }} / {{ flat.junk_count }} / {{ flat.construction_count }} / {{
        flat.excess_count }}
        <br/>
        <b>Panorama count:</b>
        {{ flat.panorama_count }}
        <br/>
        <b>Score:</b>
        {{ flat.score }}
        <br/>
    </li>
    {% endfor %}
</ul>
