<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        a {
            text-decoration: none;
        }
    </style>
    <title>Hemingway [{{ lower }} - {{ upper }}]</title>
</head>
<body>
<h1>
    {% if offset > 0 %}
    <a href="http://localhost:9211/?city={{ city }}&price={{ price }}&floor={{ floor }}&room_number={{ room_number }}&limit={{ limit }}&offset={{ previous }}">
        &laquo;
    </a>
    {% else %}
    &nbsp;&nbsp;
    {% endif %}
    <span>Flats</span>
    {% if offset < 9 %}
    <a href="http://localhost:9211/?city={{ city }}&price={{ price }}&floor={{ floor }}&room_number={{ room_number }}&limit={{ limit }}&offset={{ next }}">
        &raquo;
    </a>
    {% else %}
    &nbsp;&nbsp;
    {% endif %}
</h1>
<ul>
    {% for flat in flats %}
    <li>
        <h3>
            [<a target="_blank" href="{{ flat.url }}">{{ flat.id }}</a>]&nbsp;&nbsp;&nbsp;
            <a target="_blank" href="https://www.openstreetmap.org/#map=18/{{ flat.latitude }}/{{ flat.longitude }}">
                {{ flat.address }}
            </a>
        </h3>
        <b>Price:</b>
        {{ flat.price }} $
        <br />
        <b>Housing:</b>
        {{ flat.housing.name }}
        <br />
        <b>Total / Living / Kitchen area:</b>
        {{ flat.total_area }} / {{ flat.living_area }} / {{ flat.kitchen_area }} ㎡
        <br />
        <b>Room number:</b>
        {{ flat.room_number }}
        <br />
        <b>Floor / Total floor:</b>
        {{ flat.floor }} / {{ flat.total_floor }}
        <br />
        <b>SSF / IZF / GZF:</b>
        {{ flat.ssf }} / {{ flat.izf }} / {{ flat.gzf }}
        <br />
        <b>Unknown / Abandoned images:</b>
        {{ flat.unknown_count }} / {{ flat.abandoned_count }}
        <br />
        <b>Luxury / Comfort / Junk / Construction / Excess images:</b>
        {{ flat.luxury_count }} / {{ flat.comfort_count }} / {{ flat.junk_count }} / {{ flat.construction_count }} / {{ flat.excess_count }}
        <br />
        <b>Panoramas:</b>
        {{ flat.panorama_count }}
        <br />
        <b>Score:</b>
        {{ flat.score }}
        <br />
    </li>
    {% endfor %}
</ul>
</body>
</html>