Я допомагаю з розміткою зображень для проекту <a href="https://github.com/xXxRisingTidexXx/rampart">rampart</a>. Спілкуємося ми дуже просто: в меню тицяєш кнопку "<b>Світлини</b>", після чого я безперебійно надсилатиму тобі фотографії. Під кожним обираєш один з класів, до якого має належати картинка:

&#x1F3DB - розкішні апартаменти й пентхауси; приклад <a href="https://raw.githubusercontent.com/xXxRisingTidexXx/rampart/master/images/luxury1.webp">зали</a> чи <a href="https://raw.githubusercontent.com/xXxRisingTidexXx/rampart/master/images/luxury3.webp">світлиці</a>.

&#x1F3E0 - фото середньостатистичних якісних й охайних квартир, наприклад <a href="https://raw.githubusercontent.com/xXxRisingTidexXx/rampart/master/images/comfort1.webp">спальня</a> або <a href="https://raw.githubusercontent.com/xXxRisingTidexXx/rampart/master/images/comfort2.webp">вітальня</a>.

&#x1F3DA - картинки старих, "совкових" осель, такі як <a href="https://raw.githubusercontent.com/xXxRisingTidexXx/rampart/master/images/junk1.webp">покій</a> чи <a href="https://raw.githubusercontent.com/xXxRisingTidexXx/rampart/master/images/junk2.webp">коридор</a>.

&#x1F3D7 - зображення житла на етапі спорудження: <a href="https://raw.githubusercontent.com/xXxRisingTidexXx/rampart/master/images/construction1.webp">прохід</a>, <a href="https://raw.githubusercontent.com/xXxRisingTidexXx/rampart/master/images/construction3.webp">ріг будинку</a>.

&#x1F3DD - фотографії не-інтер'єру квартири: <a href="https://raw.githubusercontent.com/xXxRisingTidexXx/rampart/master/images/excess3.webp">вид з вікна</a> або <a href="https://raw.githubusercontent.com/xXxRisingTidexXx/rampart/master/images/excess2.webp">креслення</a>.
