Привіт! Дозволь ввести тебе в хід справ: я - щось по типу гугла, але для вузької категорії речей :). Та результати знаходжу так само - за текстовими запитами; щоправда, в них доволі специфічний формат, менше схожий на природню мову. Кожен запит має вигляд:

<code>* &lt;місто&gt; &lt;ціна&gt; &lt;поверх&gt; &lt;кімнати&gt;</code>

Ієрогліфи в трикутних дужках - деякі шаблонні значення, котрі тобі варто замінити на власні. Якщо не знаєш чи не хочеш вказувати якийсь із пунктів, то постав <code>-</code> . Наприклад:

<code>* Київ 75000 високо -</code>

Допустимі значення параметрів:

- Місто - актуальна назва довільного міста України;
- Ціна - доступна для тебе сума в USD;
- Поверх - одне з двох значень: <code>високо</code> чи <code>низько</code> ;
- Кімнати - одне з переліку: <code>одна</code> , <code>дві</code> , <code>три</code> чи <code>багато</code> .
